.contactForm {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 15px;
    padding: 25px;
  }
  .button {
    background-color: rgb(244, 254, 188);
    border-radius: 5px;
    cursor: pointer;
    outline-color: none;
    border: none;
    outline: none;
    padding: 4px;
  }
  .button:hover {
    background-color: yellow;
  }